---
http_interactions:
- request:
    method: post
    uri: https://webapi.allegro.pl.webapisandbox.pl/service.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:SandboxWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:DoQueryAllSysStatusRequest><tns:countryId>1</tns:countryId><tns:webapiKey>{webapi_key}</tns:webapiKey></tns:DoQueryAllSysStatusRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#doQueryAllSysStatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Paser-Backend:
      - allegro_qeppo_vte29_39380_dc4_2_121_80
      X-Domain:
      - webapi.allegro.pl.webapisandbox.pl
      X-Director-Id:
      - ''
      X-Backend:
      - paser_10500_dc4_97_111_6081
      X-Hit:
      - HIT 0
      X-Origin:
      - vte29-frontend-vte01
      Grace:
      - none
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="urn:SandboxWebApi"><SOAP-ENV:Body><ns1:doQueryAllSysStatusResponse><ns1:sysCountryStatus><ns1:item><ns1:countryId>1</ns1:countryId><ns1:programVersion>1.0</ns1:programVersion><ns1:catsVersion>1.3.0</ns1:catsVersion><ns1:apiVersion>1.0</ns1:apiVersion><ns1:attribVersion>1.0</ns1:attribVersion><ns1:formSellVersion>1.6.88</ns1:formSellVersion><ns1:siteVersion>1.0</ns1:siteVersion><ns1:verKey>1467595479</ns1:verKey></ns1:item><ns1:item><ns1:countryId>56</ns1:countryId><ns1:programVersion>1.0</ns1:programVersion><ns1:catsVersion>1.0.48</ns1:catsVersion><ns1:apiVersion>1.0</ns1:apiVersion><ns1:attribVersion>1.0</ns1:attribVersion><ns1:formSellVersion>1.0.81</ns1:formSellVersion><ns1:siteVersion>1.0</ns1:siteVersion><ns1:verKey>1466733305</ns1:verKey></ns1:item><ns1:item><ns1:countryId>209</ns1:countryId><ns1:programVersion>1.0</ns1:programVersion><ns1:catsVersion>1.0.66</ns1:catsVersion><ns1:apiVersion>1.0</ns1:apiVersion><ns1:attribVersion>1.0</ns1:attribVersion><ns1:formSellVersion>1.0.79</ns1:formSellVersion><ns1:siteVersion>1.0</ns1:siteVersion><ns1:verKey>1466037534</ns1:verKey></ns1:item></ns1:sysCountryStatus></ns1:doQueryAllSysStatusResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

'
  recorded_at: Tue, 30 Aug 2016 09:41:01 GMT
- request:
    method: post
    uri: https://webapi.allegro.pl.webapisandbox.pl/service.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:SandboxWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:DoLoginRequest><tns:userLogin>{webapi_login}</tns:userLogin><tns:userPassword>{webapi_password}</tns:userPassword><tns:countryCode>1</tns:countryCode><tns:webapiKey>{webapi_key}</tns:webapiKey><tns:localVersion>1467595479</tns:localVersion></tns:DoLoginRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#doLogin"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Paser-Backend:
      - allegro_qeppo_vte29_39380_dc4_2_121_80
      X-Domain:
      - webapi.allegro.pl.webapisandbox.pl
      X-Director-Id:
      - ''
      X-Backend:
      - paser_10500_dc4_97_111_6081
      X-Hit:
      - HIT 0
      X-Origin:
      - vte29-frontend-vte01
      Grace:
      - none
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="urn:SandboxWebApi"><SOAP-ENV:Body><ns1:doLoginResponse><ns1:sessionHandlePart>a8530bc5a82a821a21f8a0d498f9fb9dd9c1e4370bcc68//00_1</ns1:sessionHandlePart><ns1:userId>48643834</ns1:userId><ns1:serverTime>1472550061</ns1:serverTime></ns1:doLoginResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

'
  recorded_at: Tue, 30 Aug 2016 09:41:01 GMT
recorded_with: VCR 2.4.0
