---
http_interactions:
- request:
    method: post
    uri: https://webapi.allegro.pl/uploader.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:AllegroWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:AllegroWebApi"><env:Body><typens:doQueryAllSysStatus><country-id>1</country-id><webapi-key>***REMOVED***</webapi-key></typens:doQueryAllSysStatus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#doqueryallsysstatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Cnection:
      - Close
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="urn:AllegroWebApi"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

        <SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">

        <typens:doQueryAllSysStatusResponse><sys-country-status xsi:type="SOAP-ENC:Array"
        SOAP-ENC:arrayType="typens:SysStatusType[10]"><item xsi:type="typens:SysStatusType">

        <country-id xsi:type="xsd:int">1</country-id>

        <program-version xsi:type="xsd:string">1.0.0</program-version>

        <cats-version xsi:type="xsd:string">1.1.24</cats-version>

        <api-version xsi:type="xsd:string">1.0.0</api-version>

        <attrib-version xsi:type="xsd:string">1.0.0</attrib-version>

        <form-sell-version xsi:type="xsd:string">1.1.74</form-sell-version>

        <site-version xsi:type="xsd:string">1.0.0</site-version>

        <ver-key xsi:type="xsd:long">31776337</ver-key>

        </item>

        <item xsi:type="typens:SysStatusType">

        <country-id xsi:type="xsd:int">22</country-id>

        <program-version xsi:type="xsd:string">1.0.0</program-version>

        <cats-version xsi:type="xsd:string">1.0.1</cats-version>

        <api-version xsi:type="xsd:string">1.0.0</api-version>

        <attrib-version xsi:type="xsd:string">1.0.0</attrib-version>

        <form-sell-version xsi:type="xsd:string">1.0.5</form-sell-v[...]
- request:
    method: post
    uri: https://webapi.allegro.pl/uploader.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:AllegroWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:AllegroWebApi"><env:Body><typens:doLogin><user-login>gudson</user-login><user-password>gudi23</user-password><country-code>1</country-code><webapi-key>***REMOVED***</webapi-key><local-version>31776337</local-version></typens:doLogin></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#dologin"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Cnection:
      - Close
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="urn:AllegroWebApi"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

        <SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">

        <typens:doLoginResponse><session-handle-part xsi:type="xsd:string">93414ed8d234abfe876dfa1bee95f0ac4dd4abb10bcc68bb00_1</session-handle-part>

        <user-id xsi:type="xsd:long">2783112</user-id>

        <server-time xsi:type="xsd:long">1369135366</server-time>

        </typens:doLoginResponse></SOAP-ENV:Body>

        </SOAP-ENV:Envelope>

'
  recorded_at: Tue, 21 May 2013 11:22:46 GMT
- request:
    method: post
    uri: https://webapi.allegro.pl/uploader.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:AllegroWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:AllegroWebApi"><env:Body><typens:doGetSiteJournalDeals><session-id>93414ed8d234abfe876dfa1bee95f0ac4dd4abb10bcc68bb00_1</session-id><journal-start
        xsi:nil="true"/></typens:doGetSiteJournalDeals></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#dogetsitejournaldeals"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Cnection:
      - Close
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="urn:AllegroWebApi"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

        <SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">

        <typens:doGetSiteJournalDealsResponse><site-journal-deals xsi:type="SOAP-ENC:Array"
        SOAP-ENC:arrayType="typens:SiteJournalDealsStruct[11]"><item xsi:type="typens:SiteJournalDealsStruct">

        <deal-event-id xsi:type="xsd:long">775599262</deal-event-id>

        <deal-event-type xsi:type="xsd:int">1</deal-event-type>

        <deal-event-time xsi:type="xsd:long">1369042031</deal-event-time>

        <deal-id xsi:type="xsd:long">896009896</deal-id>

        <deal-transaction-id xsi:type="xsd:long">0</deal-transaction-id>

        <deal-seller-id xsi:type="xsd:int">2783112</deal-seller-id>

        <deal-item-id xsi:type="xsd:long">3263045863</deal-item-id>

        <deal-buyer-id xsi:type="xsd:int">5697909</deal-buyer-id>

        <deal-quantity xsi:type="xsd:int">1</deal-quantity>

        </item>

        <item xsi:type="typens:SiteJournalDealsStruct">

        <deal-event-id xsi:type="xsd:long">775601305</deal-event-id>

        <deal-event-type xsi:type="xsd:int">2</deal-event-type>

        <deal-event-time xsi:type="xsd:long">1369042118</deal-event-time>

        <deal-id xsi:type="xsd:long">896009896</deal-id>

        <deal-transaction-id xsi:type="xsd:long">243241703</deal-transaction-id>

        <deal-seller-id xsi:type="xsd:[...]
