---
http_interactions:
- request:
    method: post
    uri: https://webapi.allegro.pl/service.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://webapi.allegro.pl/service.php"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:DoGetSiteJournalDealsRequest><tns:sessionId>0ce5cfc60a3f057ba8161dcf951ab012cadce8a3155a17//01_1</tns:sessionId><tns:journalStart>123</tns:journalStart></tns:DoGetSiteJournalDealsRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#doGetSiteJournalDeals"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="https://webapi.allegro.pl/service.php"><SOAP-ENV:Body><ns1:doGetSiteJournalDealsResponse><ns1:siteJournalDeals/></ns1:doGetSiteJournalDealsResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

'
  recorded_at: Tue, 30 Aug 2016 09:51:30 GMT
recorded_with: VCR 2.4.0
