---
http_interactions:
- request:
    method: post
    uri: https://webapi.allegro.pl/uploader.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:AllegroWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:AllegroWebApi"><env:Body><typens:doQueryAllSysStatus><country-id>1</country-id><webapi-key>***REMOVED***</webapi-key></typens:doQueryAllSysStatus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#doqueryallsysstatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Cnection:
      - Close
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="urn:AllegroWebApi"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

        <SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">

        <typens:doQueryAllSysStatusResponse><sys-country-status xsi:type="SOAP-ENC:Array"
        SOAP-ENC:arrayType="typens:SysStatusType[10]"><item xsi:type="typens:SysStatusType">

        <country-id xsi:type="xsd:int">1</country-id>

        <program-version xsi:type="xsd:string">1.0.0</program-version>

        <cats-version xsi:type="xsd:string">1.1.4</cats-version>

        <api-version xsi:type="xsd:string">1.0.0</api-version>

        <attrib-version xsi:type="xsd:string">1.0.0</attrib-version>

        <form-sell-version xsi:type="xsd:string">1.1.45</form-sell-version>

        <site-version xsi:type="xsd:string">1.0.0</site-version>

        <ver-key xsi:type="xsd:long">79854031</ver-key>

        </item>

        <item xsi:type="typens:SysStatusType">

        <country-id xsi:type="xsd:int">22</country-id>

        <program-version xsi:type="xsd:string">1.0.0</program-version>

        <cats-version xsi:type="xsd:string">1.0.1</cats-version>

        <api-version xsi:type="xsd:string">1.0.0</api-version>

        <attrib-version xsi:type="xsd:string">1.0.0</attrib-version>

        <form-sell-version xsi:type="xsd:string">1.0.4</form-sell-v[...]
- request:
    method: post
    uri: https://webapi.allegro.pl/uploader.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:AllegroWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:AllegroWebApi"><env:Body><typens:doLogin><user-login>gudson</user-login><user-password>gudi23</user-password><country-code>1</country-code><webapi-key>***REMOVED***</webapi-key><local-version>79854031</local-version></typens:doLogin></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#dologin"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Cnection:
      - Close
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="urn:AllegroWebApi"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

        <SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">

        <typens:doLoginResponse><session-handle-part xsi:type="xsd:string">091c6d266bb3580e07bc21302754db21c001b72c155a173301_1</session-handle-part>

        <user-id xsi:type="xsd:long">2783112</user-id>

        <server-time xsi:type="xsd:long">1361809271</server-time>

        </typens:doLoginResponse></SOAP-ENV:Body>

        </SOAP-ENV:Envelope>

'
  recorded_at: Mon, 25 Feb 2013 16:21:11 GMT
- request:
    method: post
    uri: https://webapi.allegro.pl/uploader.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:AllegroWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:AllegroWebApi"><env:Body><typens:doGetSiteJournal><session-handle>091c6d266bb3580e07bc21302754db21c001b72c155a173301_1</session-handle><starting-point>1</starting-point><info-type>0</info-type></typens:doGetSiteJournal></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#dogetsitejournal"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Cnection:
      - Close
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="urn:AllegroWebApi"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

        <SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">

        <typens:doGetSiteJournalResponse><site-journal-array xsi:type="SOAP-ENC:Array"
        SOAP-ENC:arrayType="typens:SiteJournal[14]"><item xsi:type="typens:SiteJournal">

        <row-id xsi:type="xsd:long">8845488292</row-id>

        <item-id xsi:type="xsd:long">3042663289</item-id>

        <change-type xsi:type="xsd:string">start</change-type>

        <change-date xsi:type="xsd:long">1361223337</change-date>

        <current-price xsi:type="xsd:float">0</current-price>

        <item-seller-id xsi:type="xsd:long">2783112</item-seller-id>

        </item>

        <item xsi:type="typens:SiteJournal">

        <row-id xsi:type="xsd:long">8845561827</row-id>

        <item-id xsi:type="xsd:long">3042663289</item-id>

        <change-type xsi:type="xsd:string">end</change-type>

        <change-date xsi:type="xsd:long">1361223617</change-date>

        <current-price xsi:type="xsd:float">0</current-price>

        <item-seller-id xsi:type="xsd:long">2783112</item-seller-id>

        </ite[...]
