---
http_interactions:
- request:
    method: post
    uri: https://webapi.allegro.pl/service.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://webapi.allegro.pl/service.php"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:DoQueryAllSysStatusRequest><tns:countryId>1</tns:countryId><tns:webapiKey>{webapi_key}</tns:webapiKey></tns:DoQueryAllSysStatusRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#doQueryAllSysStatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="https://webapi.allegro.pl/service.php"><SOAP-ENV:Body><ns1:doQueryAllSysStatusResponse><ns1:sysCountryStatus><ns1:item><ns1:countryId>1</ns1:countryId><ns1:programVersion>1.0</ns1:programVersion><ns1:catsVersion>1.3.27</ns1:catsVersion><ns1:apiVersion>1.0</ns1:apiVersion><ns1:attribVersion>1.0</ns1:attribVersion><ns1:formSellVersion>1.7.44</ns1:formSellVersion><ns1:siteVersion>1.0</ns1:siteVersion><ns1:verKey>1472468455</ns1:verKey></ns1:item><ns1:item><ns1:countryId>56</ns1:countryId><ns1:programVersion>1.0</ns1:programVersion><ns1:catsVersion>1.0.50</ns1:catsVersion><ns1:apiVersion>1.0</ns1:apiVersion><ns1:attribVersion>1.0</ns1:attribVersion><ns1:formSellVersion>1.0.86</ns1:formSellVersion><ns1:siteVersion>1.0</ns1:siteVersion><ns1:verKey>1471854027</ns1:verKey></ns1:item><ns1:item><ns1:countryId>209</ns1:countryId><ns1:programVersion>1.0</ns1:programVersion><ns1:catsVersion>1.0.68</ns1:catsVersion><ns1:apiVersion>1.0</ns1:apiVersion><ns1:attribVersion>1.0</ns1:attribVersion><ns1:formSellVersion>1.0.81</ns1:formSellVersion><ns1:siteVersion>1.0</ns1:siteVersion><ns1:verKey>1467856103</ns1:verKey></ns1:item></ns1:sysCountryStatus></ns1:doQueryAllSysStatusResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

'
  recorded_at: Mon, 29 Aug 2016 16:03:56 GMT
recorded_with: VCR 2.4.0
