---
http_interactions:
- request:
    method: post
    uri: https://webapi.allegro.pl/uploader.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:AllegroWebApi"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:AllegroWebApi"><env:Body><typens:doQueryAllSysStatus><country-id>1</country-id><webapi-key>***REMOVED***</webapi-key></typens:doQueryAllSysStatus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#queryallstatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Cnection:
      - Close
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="urn:AllegroWebApi"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

        <SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">

        <typens:doQueryAllSysStatusResponse><sys-country-status xsi:type="SOAP-ENC:Array"
        SOAP-ENC:arrayType="typens:SysStatusType[10]"><item xsi:type="typens:SysStatusType">

        <country-id xsi:type="xsd:int">1</country-id>

        <program-version xsi:type="xsd:string">1.0.0</program-version>

        <cats-version xsi:type="xsd:string">1.0.99</cats-version>

        <api-version xsi:type="xsd:string">1.0.0</api-version>

        <attrib-version xsi:type="xsd:string">1.0.0</attrib-version>

        <form-sell-version xsi:type="xsd:string">1.1.37</form-sell-version>

        <site-version xsi:type="xsd:string">1.0.0</site-version>

        <ver-key xsi:type="xsd:long">14242869</ver-key>

        </item>

        <item xsi:type="typens:SysStatusType">

        <country-id xsi:type="xsd:int">22</country-id>

        <program-version xsi:type="xsd:string">1.0.0</program-version>

        <cats-version xsi:type="xsd:string">1.0.1</cats-version>

        <api-version xsi:type="xsd:string">1.0.0</api-version>

        <attrib-version xsi:type="xsd:string">1.0.0</attrib-version>

        <form-sell-version xsi:type="xsd:string">1.0.4</form-sell-v[...]
